@font-face {
    font-family: iransSans;
    src: url('../public/asset/font/IranSans/IRANSansWeb.eot');
    src: url('../public/asset/font/IranSans/IRANSansWeb.woff') format('woff'),
        url('../public/asset/font/IranSans/IRANSansWeb_Medium.woff2') format('woff2');
}
body{
    font-family: 'iransSans' !important;
    font-style: normal;
    background: #EEE9DA !important;
    min-height: 150rem;
}

/**==============================================
 *                Banner 
 *=============================================**/
 .banner-bg{
    background: rgba(60, 98, 85, 0.95);
    min-height: 95vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
 }
 .mouse-motion{
    position: absolute;
    bottom: 12%;
    left: 48%;
    right: 48%;
    margin: auto;
    background:#3C6255;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    z-index: 8;
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
 }
 .mouse-motion::before{
    content: '';
    position: absolute;
    top: 10%;
    left: 14%;
    border-radius: 80px;
    background: #3C6255;
    box-shadow: 0px 2px 4px 0px #EEE9DA inset;
    width: 36px;
    height: 38px;
    z-index: 1;

 }
 .mouse-motion::after{
    content: '';
    position: absolute;
    background-image: url(../public/asset/image/Mouse.svg);
    width: 2rem;
    height: 2rem;
    background-position: center;
    background-repeat: no-repeat;
    top: 15%;
    left: 18%;
    z-index: 1;
 
  
    
 }
 .bg-banner-image{
    position: relative;
    min-height: 15rem;
 }
 .bg-banner-image::before{
    content: '';
    position: absolute;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
 }
 @-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-5px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-5px); }
}
 .banner-whay{
    position: absolute;
    bottom: -5px;
    left: 0;
    right: -4%;
    z-index: 2;
 }
 .banner-whay-2{
    z-index: 1;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: -4%;
 }
 .title-banner{
    color: #EAE7B1;
    text-align: right;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 156.7%; /* 56.016px */
    animation: myAnim 2s ease 0s 1 normal forwards;
 }
 @keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateX(48px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateX(26px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateX(13px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateX(6.5px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateX(4px);
	}

	25%,
	55%,
	75%,
	87%,
	98% {
		animation-timing-function: ease-out;
		transform: translateX(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0px);
	}
}
 .text-banner{
    color: #EEE9DA;
    padding-top: 1rem;
text-align: right;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 200%; /* 48px */
 }



 /**=======================
  *     Contact
  *  
  *  
  *========================**/
  .contact-cart{
   background: url(../public/asset/image/contact.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   border-radius: 1rem;
   position: relative;
   padding: 1.5rem;
   overflow: hidden;
   min-height: 25rem;
   display: flex;
   align-items: center;
  }
  .contact-cart::after{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   background: rgba(206, 222, 189, 0.85);
   width: 100%;
   height: 100%;
  }
  .contact-cart span{
   color: #000;
   text-align: right;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 180%; /* 28.8px */
   position: relative;
   z-index: 1;
  }
  .contact-cart p{
   color: #000;
   text-align: right;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 116.7%; /* 21.006px */
   position: relative;
   z-index: 1;
   
  }
  .bg-social{
   background: #45695C;
  }
  .contact-border{
   border-top:dotted  ;
  }
  .trans-top-left{
   transform: translate(-50%,-50%);
   top: 50%;
   left: 50%;
  }
  .contact-form{
   background: #3C6255;
   border-radius: 48px 8px;
   padding: 1.5rem 1rem;
  }
  .contact-btn{
   color: #3C6255;
   text-align: center;
   font-size: 15px;
   font-style: normal;
   font-weight: 800;
   line-height: 26px; /* 173.333% */
   letter-spacing: 0.46px;
   text-transform: uppercase;
   border-radius: 16px;
   background: #A6BB8D;
   box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
   padding: 10px 3rem;
   margin-left: 0;
   margin-right: auto;
   display: flex;
  }
 @media only screen and (min-width: 1400px){}
 @media only screen and (min-width: 1200px){}
 @media only screen and (min-width: 992px){}
 @media only screen and (min-width: 772px){}